extends ../layouts/default-stream

block main
  h1= user.name
  h1= user.email
  | wins
  h1= user.winning
  | losses
  h1= user.losing
  | toal matches
  - var total = user.winning + user.losing
  h3= total

  | win procent
  h3= user.winning / total

  | defeat procent
  h3= user.losing / total

  a(href="#{user._id}/edit") edit

  #hero-donut
